body {
    background-color: #2c3240;
    font-family: 'Varela Round', sans-serif;
}

/* Nav */

nav.navbar-dark.bg-nav-rqdesk {
    background-color: #323848 !important;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8) !important;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    width: 100%;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #1a1d25 !important;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

#sidebar .logo span {
    display: block;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li > ul {
    margin-left: 10px;
}

#sidebar ul li > ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
    color: #f8b739;
}

#sidebar ul li.active > a {
    background: transparent;
    color: #f8b739;
}

/* Footer */

#footer {
    color: #fff;
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -300px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
