/* Cards */

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

/* Alert */

.alert-responsive {
    text-align: center;
}